body 
{
	margin:40px auto;
	padding:0 20px;
	text-align:center;
}

#new-task 
{
	width:80%;
	padding:10px;
	font-size:1em;
	text-align:center;
}

#add-btn 
{
	padding:10px;
	font-size:1em;
	cursor:pointer;
}

ul 
{
	list-style-type:none;
	padding:0;
	margin-top:20px;
}

li 
{
	display:flex;
	align-items:center;
	justfy-content:center;
	margin-bottom:10px;
	cursor:pointer;
	width:80%;
	margin:0 auto;
}

li.completed > span 
{
	text-decoration:line-through;
	color:gray;
}

li > span 
{
	flex-grow:1;
}

button.delete-btn 
{
	margin-left:10px;
	background-color:#ff4c4c;
	color:white;
	border:none;
	padding:5px 10px;
	cursor:pointer;
	border-radius:4px;
}

#task-count 
{
	margin-top:20px;
	font-weight:bold;
	text-align:center;
}